
#numKeyBoard-box{
	width:100%;
	display: none
}

#numKeyBoard-box table{
	text-align:center;
	width:100%;
	height:160px;
	background-color:#FFF;
	border-top:1px solid #ddd;
	border-right:1px solid #ddd;
}

#numKeyBoard-box table td{
	width:30%;
	border:1px solid #ddd;
	border-right:0;
	border-top:0;
}

#numKeyBoard-box input{
	box-sizing: border-box;
    margin-top: 15px;
    line-height: 40px;
    height: 40px;
    width: 100%;
    outline: none;
    font-size: 30px;
    padding-right: 10px;
    border: none;
    text-align: right;
}

#numKeyBoard-box .delTd{
	 background-color:#D3D9DF;
}
#numKeyBoard-box .numPadLayerBox{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	bottom:0;
	background: rgba(0,0,0,0.5)
}

#numKeyBoard-box .numPadLayerBox .numPadLayerBox-cot{
	width: 80%;
	max-width: 500px;
    margin: 0 auto;
    margin-top: 10%;
    height: 300px;
    background: #fff;
}

#numKeyBoard-box .fBottom{
	width: 150px;
	height:40px;
	margin:0 auto;
	margin-top: 20px;
}

#numKeyBoard-box .fBottom >div{
	width: 60px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color:#fff;
	float: left;
}

#numKeyBoard-box .fBottom .saveBtn{
	background: #327931;
}

#numKeyBoard-box .fBottom .cancleBtn{
	margin-left: 20px;
	background: #ddd;
}















